<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperar mi contraseña</title>

    {% include "base/head_css_principal.html" %}

</head>
<body>
    <section>
        {% if validlink %}
            <br>
            <h3>Recuperar mi contraseña</h3>
            <br>
            <form method="post">{% csrf_token %}
                <div class="form-group">
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Nueva contraaeña</label>
                    {{ form.new_password1 }}
                </div>

                <div class="form-group">
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Confirme su contraseña</label>
                    {{ form.new_password2 }}
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Cambiar mi contraseña">
                </div>
            </form>
        {% else %}
            <br>
            <h3>LINK INVALIDO: Este link ya ha sido utilizado antes. Por favor solicita un nuevo link.</h3>
        {% endif %}
    </section>
</body>
</html>