<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recuperar mi contraseña</title>

    {% include "base/head_css_principal.html" %}

</head>
<body>
    <section>
        <div class="container">
            <form method="post">{% csrf_token %}
                <br>
                <h3>Recuperar mi contraseña</h3>
                <br>
                <label for="id_email">Email: </label> {{ form.email }}
                <input type="submit" class="btn btn-info" value="Enviar">
            </form>
        </div>
    </section>
</body>
</html>